# python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# testing / development
coverage.xml
.coverage
.env
.envrc
.direnv
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ide
.idea
.vscode
*.swp

# OS Files
.DS_Store
desktop.ini

# Application files
config.json

# (Docker only)
.git
.gitignore
.dockerignore
Dockerfile
README*
.github
